<nav class="navbar navbar-primary bg-primary justify-content-between">
    <div class="btn-nvgt">
        <div class="toggle" onclick="toggleMenu();">
        </div>
    </div>
    <form class="form-inline">
        <div class="dropdown">
            <h3 class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" role="button">
                Hi Anjani
            </h3>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuLink ">
                <p>Role: Business owner</p>
                <button type="button " class="btn btn-danger dgr" routerLink="/signin">Logout</button>
            </div>
        </div>
    </form>
</nav>